.cities {
    background-color: rgb(238, 211, 218);
    min-height: 40vh;
    border-radius: 0 0 2em 2em;

    form {
        width: fit-content;
        margin: auto;
        padding-top: 1em;
        display: flex;
        flex-direction: column;

        label {
            font-weight: 200;
            font-size: 1.6em;
        }

        input,
        button {
            padding: 1em;
            margin-top: 1em;
            border-radius: 1em;
            border: none;
            box-shadow: 2px 2px 5px gray;
        }

        button {
            padding: 0.8em;
        }
    }
}